* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.header_about_me {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/aboutMe-background.jpg);
}

.back_to {
  background-color: #a4f7ef;
  position: fixed;
  left: 26px;
  top: 42px;
  height: 60px;
  width: 60px;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1f1f1f;
  opacity: 1;
  font-size: 22px;
  cursor: pointer;
  scroll-behavior: smooth;
}

.to_top:hover {
  background: black;
  color: white;
  transition: 0.5s;
}

.logo {
  padding: 20px;
}

.header_about_me img {
  /* padding: 15px; */
  width: 20%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img_about {
  display: flex;
  flex-direction: row;
  /* padding: 20px; */
}

.header_about_me h1 {
  color: white;
  font-size: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.header_about_me h2 {
  color: white;
  font-size: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.about {
  /* width: 100%;
  padding: 5px;
  text-align: center;
  color: white; */
  justify-content: center;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

.img_about {
  flex-basis: 51%;
}

.about_text {
  /* column-count: 2; */
  text-align: center;
  padding: 10px;
}

@media (max-width: 700px) {
  .about_text {
    column-count: 1;
  }
}

@media (max-width: 1300px) {
  .about_text {
    column-count: 1;
  }
}

.img {
  width: 25%;
  height: 100px;
  display: flex;
  max-width: 100%;
  /* padding: 10px; */
  margin: 2px;
  display: list-item;
  border: 3px solid #a4f7ef;
  border-radius: 10px;
}

.about p {
  color: white;
  width: 90%;
  padding: 15px;
  font-size: 20px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-left: auto;
  margin-right: auto;
}
