* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.header_about_me {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/aboutMe-background.jpg);
}

.back_to {
  background-color: #a4f7ef;
  position: fixed;
  left: 26px;
  top: 42px;
  height: 60px;
  width: 60px;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1f1f1f;
  opacity: 1;
  font-size: 22px;
  cursor: pointer;
  scroll-behavior: smooth;
}

.header_about_me img {
  /* padding: 15px; */
  width: 20%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img_about {
  display: flex;
  flex-direction: row;
  /* padding: 20px; */
}

.header_about_me h1 {
  color: white;
  font-size: 30px;
  padding: 10px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.about {
  width: 100%;
  padding: 5px;
  text-align: center;
  color: white;
}
.img {
  width: 25%;
  height: 100px;
  text-align: center;
  /* padding: 10px; */
  margin: 2px;
  display: list-item;
  border: 3px solid #a4f7ef;
  border-radius: 10px;
}

.about p {
  color: white;
  width: 90%;
  padding: 15px;
  font-size: 20px;
  text-align: justify;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
