* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.priceList {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/backgroundDrum.jpg);
}

.priceList h1 {
  font-size: 42px;
  text-align: center;
  padding-top: 30px;
}

.priceList p {
  /* padding: 10px; */
  margin-top: 20px;
  text-align: center;
}

.monthPackage h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
}

#paragraph {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 5px;
  text-align: center;
}

.wrapper1 {
  justify-content: center;
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 700px) {
  .wrapper1 {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.school {
  flex-basis: 15%;
  background: #a4f7ef;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s;
  /* display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 28px;
  color: white;
  justify-content: space-around;
  text-align: left;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto; */
}

.online {
  flex-basis: 15%;
  background: #a4f7ef;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s;
  /* display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 28px;
  color: white;
  justify-content: space-around;
  text-align: left;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto; */
}

.drive {
  flex-basis: 15%;
  background: #a4f7ef;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s;
  /* display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 28px;
  color: white;
  justify-content: space-around;
  text-align: left;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto; */
}

.group {
  flex-basis: 15%;
  background: #a4f7ef;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s;
  /* display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 28px;
  color: white;
  justify-content: space-around;
  text-align: left;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto; */
}

.withoutPackage h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

#paragraph2 {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 5px;
  text-align: center;
}

.back_to {
  background-color: #a4f7ef;
  position: fixed;
  left: 26px;
  top: 42px;
  height: 60px;
  width: 60px;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1f1f1f;
  opacity: 1;
  font-size: 22px;
  cursor: pointer;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.dropdown {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dropdown_item {
  background-color: #a4f7ef;
  border-radius: 15px;
  margin-bottom: 1rem;
  color: black;
  padding: 30px;
  text-decoration: none;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.dropdown_link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin-left: auto;
  margin-right: auto;
}

.dropdown_link #minus {
  display: none;
}

.dropdown_answer {
  overflow: scroll;
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #a4f7ef;
  transition: max-height 650ms;
}

@media (max-width: 700px) {
  .dropdown_answer {
    width: 80%;
    overflow: scroll;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* @media (max-width: 768px) {
  .dropdown_answer {
    width: 70%;
    overflow: scroll;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
} */

@media (max-width: 700px) {
  .dropdown_item {
    width: 80%;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1366px) {
  .dropdown_item {
    width: 80%;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 370px) {
  .dropdown_item {
    width: 60%;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.dropdown_answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  /* background-color: #93ded7;
  top: 50%;
  left: 0; */
}

.dropdown_answer p {
  font-size: 1.4rem;
  color: black;
  padding: 2rem;
}

.dropdown_item:target .dropdown_answer {
  max-height: 20rem;
}

.dropdown_item:target .dropdown_link #plus {
  display: none;
}

.dropdown_item:target .dropdown_link #minus {
  display: block;
}
