* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

#logo {
  color: white;
  font-size: 24px;
}

h1 img {
  height: 170%;
  width: 170%;
  position: relative;
  left: -20px;
  top: -10px;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/firstPhoto.jpg);
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  width: 150px;
}

.nav_links {
  flex: 1;
  text-align: center;
}

.nav_links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav_links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.nav_links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #03dac6;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav_links ul li:hover::after {
  width: 100%;
}

.text_box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text_box h1 {
  font-size: 42px;
}

.text_box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.hero_btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}

.hero_btn:hover {
  border: 1px solid #03dac6;
  background: #03dac6;
  transition: 1s;
  color: black;
}

nav .fas {
  display: none;
}

@media (max-width: 700px) {
  .text_box h1 {
    font-size: 20px;
  }
  .nav_links ul li {
    display: block;
  }

  .nav_links {
    position: absolute;
    background: #03dac6;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fas {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav_links ul {
    padding: 30px;
  }

  .logo {
    opacity: 0;
  }
  h1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.course h1 {
  font-size: 36px;
  font-weight: 600;
}

.course p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 5px;
  text-align: center;
}

.course ul > li {
  color: #777;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  font-weight: 300;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course_column {
  flex-basis: 31%;
  background: #a4f7ef;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.course_column h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course_column p {
  color: #777;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  font-weight: 300;
}

.course_column:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

.instruments {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 60px;
}

.instruments p {
  padding: 0;
  color: #777;
  padding-bottom: 25px;
}

.instruments_column {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.instruments_column img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(164, 247, 239, 0.7);
}

.layer h3 {
  width: 100%;
  color: black;
  font-weight: 600;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* /////////////////////////////////////////////////////// */

.btn_course {
  /* display: inline-block; */
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  top: 75%;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.btn_course:hover {
  border: 1px solid black;
  background: black;
  transition: 1s;
  color: #fff;
}

/* .gallery {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.gallery_column {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: center;
  float: left;
}

.gallery_column img {
  width: 80%;
  border-radius: 10px;
}

.gallery p {
  padding: 0;
  color: #777;
  padding-bottom: 25px;
}

.gallery h1 {
  font-size: 26px;
  margin-top: 16px;
  margin-bottom: 15px;
  font-weight: 600;
} */

/* @media (max-width: 700px) {
  .gallery_row {
    flex-direction: column;
  }
} */
/* sekcja kontakt */
.contact {
  margin: 100px auto;
  width: 80%;
  background-color: #a4f7ef;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  /* text-align: center; */
  /* padding: 100px 0; */
  /* powyżej stare ustewienia css dla starej sekcji */

  position: relative;
  min-height: 100vh;
  /* padding: 50px 100px; */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  margin-top: -50px;
}

.contact .content p {
  font-weight: 300;
  color: black;
  padding-bottom: 30px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact .contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.contact .contact-info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
  padding: 30px;
}

.contact .contact-info .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  margin-right: 15px;
}

.contact .contact-info .box .icon .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: black;
  flex-direction: column;
  font-weight: 300;
}

.contact .contact-info .box .icon .text h3 {
  font-weight: 500;
  color: black;
}

/* social apps */

.contact-info h4 {
  color: black;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: auto;
}

.social_wrapper {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: auto;
}

.social_btw {
  background-color: #fff;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.social_btw i {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

.social_btw a {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  font-size: 22px;
  color: black;
  text-decoration: none;
}

#yt:hover {
  background-color: black;
  transition: 0.5s;
  color: red;
}

#fb:hover {
  background-color: black;
  transition: 0.5s;
  color: #3b5998;
}

#inst:hover {
  background-color: black;
  transition: 0.5s;
  color: #d6249f;
}

.contact a {
  /* display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  text-transform: uppercase; */
}

/* .contact a:hover {
  border: 1px solid black;
  background: black;
  transition: 1s;
  color: #fff;
} */

.contact-form {
  width: 40%;
  padding: 40px;
  background: #fff;
  margin-right: 50px;
}

.contact-form h2 {
  font-size: 30px;
  color: black;
  font-weight: 500;
}

.contact-form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .inputBox .text {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
}

.contact-form .inputBox input,
.contact-form .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #777;
}

.contact-form .inputBox input:focus ~ span,
.contact-form .inputBox input:valid ~ span,
.contact-form .inputBox textarea:focus ~ span,
.contact-form .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .inputBox input[type="submit"] {
  width: 100px;
  background: #a4f7ef;
  color: black;
  cursor: pointer;
  padding: 10px;
  font-size: 13px;
  border: none;
  text-transform: uppercase;
}

.contact-form .inputBox input[type="submit"]:hover {
  background: black;
  color: white;
  transition: 1s;
}

@media (max-width: 700px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contact-info {
    margin-bottom: 40px;
  }
  .container .contact-info {
    width: 100%;
    padding: 10px;
  }
}

/* -------------- */

.to_top {
  background-color: #a4f7ef;
  position: fixed;
  bottom: 26px;
  right: 42px;
  height: 60px;
  width: 60px;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1f1f1f;
  opacity: 0;
  font-size: 22px;
  pointer-events: none;
  transition: all 0.5s;
}

.to_top.active {
  bottom: 26px;
  pointer-events: auto;
  opacity: 1;
}

.to_top:hover {
  background: black;
  color: white;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

/* buttony zapisz się */

#stationary {
}

#online {
  margin-top: 65px;
}
#online a {
  text-decoration: none;
  color: black;
}

#drive {
  margin-top: 15px;
}

/* ---------------- */

/* Galeria */

/* .gallery-wrapper {
  width: 800px;
  text-align: center;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.gallery-wrapper h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 0;
}

.gallery-wrapper p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #777;
  padding: 0;
}

.img-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: auto;
  text-align: center;
  padding-top: 60px;

  /* width: 80vw;
  margin: auto;
  text-align: center;
  padding-top: 100px; */

.single-img {
  padding: 0 20px 20px;
  width: 50%;
  height: auto;
}

.single-img {
  @media (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
}

.single-img img {
  width: 40%;
  height: auto;
}
*/

/* ---------- */

footer {
  text-align: center;
  color: #777;
  font-size: 13px;
  background-color: #a4f7ef;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

footer a {
  text-decoration: none;
  color: black;
}
footer {
  text-align: center;
  color: #777;
}
