* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/g6.jpg);
  background-size: cover;
}

html {
  font-size: 24px;
  color: white;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.video-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video-container .video {
  height: 17rem;
  width: 25rem;
  margin: 2rem;
  overflow: hidden;
  border: 3px solid #03dac6;
  border-radius: 15px;
}

.video p {
  color: white;
}

.back_to {
  background-color: #a4f7ef;
  position: fixed;
  left: 26px;
  top: 42px;
  height: 60px;
  width: 60px;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1f1f1f;
  opacity: 1;
  font-size: 22px;
  cursor: pointer;
  scroll-behavior: smooth;
}

.to_top.active {
  bottom: 26px;
  pointer-events: auto;
  opacity: 1;
}

.to_top:hover {
  background: black;
  color: white;
  transition: 0.5s;
}
